lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace
pids
logs
reports
build
node_modules
npm-debug.log
sftp-config.json
.idea
*.iml
/lib
.DS_Store
coverage
.nyc_output
.eslintcache

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions